* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#log {
    font-size: 48pt;
    margin-bottom: 12px;
}

#buttons {
    margin-bottom: 24px;
}

button {
    font-size: 24pt;
    padding: 8px;
}

#rock {
    background-color: #ff6961;
}

#paper {
    background-color: #aec6cf;
}

#scissors {
    background-color: #fdfd96;
}

#scores {
    display: flex;
    flex-direction: column;
    align-items: center;
}